/*	Screen <1200px	*/
@media only screen and (max-width: 1199px) {
	html {
		font-size: .8em;
	}
}

/*	Screen <991px	*/
@media only screen and (max-width: 991px) {
	html {
		font-size: .7em;
	}
	.visible-lg {
		display: none;
	}
	.m-menu-link {
		display: block;
	}
	.get-started-btn {
		margin: 0;
	}
	.price-tags {
		flex-direction: column;
	}
	.price-tag {
		width: 90%;
		margin: 2em auto;
	}
	.ctn-btn {
		margin-bottom: 10px;
	}
	.footer {
		justify-content: center;
	}
	.footer-menu {
		display: none;
	}
	.legal {
		flex-direction: column;
		padding-bottom: 50px;
	}
	.copy p {
		text-align: center;
		margin-bottom: 20px;
	}
	.social-links a{
		font-size: 2em;
	}
}

/*	Screen <991px	*/
@media only screen and (max-width: 991px) {
	
}

/*	Screen <991px	*/
@media only screen and (max-width: 991px) {
	
}

/*	Screen <991px	*/
@media only screen and (max-width: 991px) {
	
}

/*	Screen <991px	*/
@media only screen and (max-width: 991px) {
	
}